/* styles.css */
body {
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
}

h1 {
  text-align: center;
}

.food,
.drinks {
  display: flex;
  margin: 0;
  padding: 0;
  justify-content: center;
  align-items: center;
}

#content {
  display: grid;
  justify-content: center;
  /* text-align: center; */
  grid-template-columns: repeat(4, 1fr);
  gap: 5px;
}

.hidden {
  display: none;
}

button {
  margin: 5px;
  padding: 2px;
}
